<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    
    <global-method-security secured-annotations="enabled" />

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin**" access="isFullyAuthenticated()" />
        <form-login login-page="/login" default-target-url="/admin"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/login?error=true" />
        <logout logout-success-url="/login?logout" />
        <csrf /> 
    </http>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
    
    <beans:bean id="saltSource" class="fr.wirth.fwk.security.CustomSaltSource">
        <beans:constructor-arg value="SpringSecuritySampleSaltString"/>
        <beans:property name="userPropertyToUse" value="username" />
    </beans:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="customUserDetailsService" class="fr.wirth.web.service.SecurityService" />

</beans:beans>